{% extends "plantilla.html" %}
{% block body %}

<h1>EDIT TECHNOLOGY</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'update_technology' id=technology.id  %}" method="post" enctype="multipart/form-data" id="frm_technology">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ technology.id }}">

                <label for="name"><b>Technology Name:</b></label>
                <input type="text" name="name" class="form-control" value="{{ technology.name }}" id="name" placeholder="Enter the technology's name">

                <label for="description"><b>Description:</b></label>
                <textarea name="description" class="form-control" id="description" placeholder="Enter a description of the technology">{{ technology.description }}</textarea>

                <label for="version"><b>Version:</b></label>
                <input type="text" name="version" class="form-control" value="{{ technology.version }}" id="version" placeholder="Enter the technology's version">

                <label for="image"><b>Image:</b></label>
                <input type="file" name="image" class="form-control" id="image">
                {% if technology.image %}
                    <img src="{{ technology.image.url }}" alt="Image" width="100" height="100">
                {% endif %}

                <label for="creation_date"><b>Creation Date:</b></label>
                <input type="datetime-local" name="creation_date" class="form-control" value="{{ technology.creation_date|date:'Y-m-d\TH:i' }}" id="creation_date">

                <br>
                <button type="submit" class="btn btn-warning">Update</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'list_technologies' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#frm_technology').validate({
        rules: {
            name: {
                required: true,
                minlength: 3,
                maxlength: 100,
            },
            description: {
                required: true,
                minlength: 10,
            },
            version: {
                required: true,
                minlength: 1,
                maxlength: 50,
            },
            image: {
                required: false,
            },
            creation_date: {
                required: true,
            },
        },
        messages: {
            name: {
                required: 'Technology name is required',
                minlength: 'Name must be at least 3 characters long',
                maxlength: 'Name must be less than 100 characters long',
            },
            description: {
                required: 'Description is required',
                minlength: 'Description must be at least 10 characters long',
            },
            version: {
                required: 'Version is required',
                minlength: 'Version must be at least 1 character long',
                maxlength: 'Version must be less than 50 characters long',
            },
            creation_date: {
                required: 'Creation date is required',
            },
        },
    });
</script>

{% endblock %}
