{% extends "plantilla.html" %}

{% block body %}
{% if messages %}
    <div class="alert alert-info">
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<style>
    .table-bordered > :not(caption) > * > * {
        border-width: 0 var(--bs-border-width);
        color: rgb(0, 0, 12);
    }
</style>

<br>
<div class="card">
    <div class="card-title text-center">
        <h3><b>Category List</b></h3>
    </div>
</div>  
<br>
<div style="text-align: center;">
    <a href="{% url 'new_category' %}" class="btn btn-success">Add Category</a>
    <button class="btn btn-primary" onclick="printTable()">Print Report</button>
</div>

<table class="table table-bordered table-striped table-hover text-center" id="tbl-categories"> 
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Icon</th>
            <th>Creation Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for category in list_categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>{{ category.description }}</td>
            <td>{{ category.status|capfirst }}</td>
            <td>
                {% if category.icon %}
                    <img src="{{ category.icon.url }}" alt="Icon" width="50" height="50">
                {% else %}
                    No Icon
                {% endif %}
            </td>
            <td>{{ category.creation_date }}</td>
            <td>
                <a href="{% url 'edit_category' category.id %}" class="btn btn-warning">Edit</a>
                <a href="javascript:void(0);" onclick="confirmDelete('{{ category.id }}')" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function() {
        $('#tbl-categories').DataTable();
    });

    function printTable() {
        var printContents = document.getElementById('tbl-categories').outerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
        location.reload();
    }

    function confirmDelete(categoryId) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You are about to delete this category!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "{% url 'delete_category' 0 %}".replace("0", categoryId);
            }
        });
    }
</script>

{% endblock %}
